@font-face {
    font-family: 'A-Space';
    src: url('fonts/a_space/A-Space\ Regular\ Demo.otf') format('truetype');

}

:root {
    --bg-color: #010114;
    --green-ts: rgb(0, 255, 38);
    --purple-bc: rgba(144, 0, 255, 0.25);
    --bg-white: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'A-Space', sans-serif;
    color: white;
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.modal {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 75lvh;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #010114;
    box-shadow: 0 0 1vw white;
    border-radius: 1vw;

    overflow: hidden;

    .top {
        height: 10%;
        width: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        border-bottom: 1px solid white;

        overflow: hidden;

        span {
            font-size: 2rem;
            font-weight: bold;
            margin-right: 2vw;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .body {
        height: 80%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        form {
            height: 100%;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            overflow: hidden;

            label {
                font-size: 1rem;
            }

            input {
                width: 60%;
                height: 7%;

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                text-decoration: none;
                color: white;
                background-color: black;

                overflow: hidden;
            }

            button {
                height: 7%;
                width: 75%;

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                margin-top: 1vw;

                background-color: transparent;
                border: 0.1rem solid white;
                border-radius: calc(0.5vw + 0.5vh);

                overflow: hidden;

                &:hover {
                    background-color: var(--purple-bc);
                    text-shadow: 0 0 0.5vw var(--green-ts);
                    cursor: pointer;
                }
            }
        }
    }

    .bottom {
        height: 10%;
        width: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        border-top: 1px solid white;

        overflow: hidden;

    }
}

.overlay {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100lvh;

    display: none;

    background-color: rgba(0, 0, 0, 0.75);

    overflow: hidden;
}

body {
    height: 100lvh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--bg-color);
    /*background-image: radial-gradient(circle, #310455, #230b4b, #180e3f, #100c33, #0c0826, #090722, #06051d, #030419, #04061d, #050921, #040c25, #030e29);*/

    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;

    nav {
        height: 10lvh;
        min-height: 10lvh;
        width: 100vw;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0 5vw;
        box-shadow: 0 0 0.5vw 0 rgb(10, 10, 66);

        overflow: hidden;

        .n {
            width: calc(100vw / 3);
            height: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;

            overflow: hidden;
        }

        .name {
            justify-content: flex-start;
            padding-left: 2vw;
            font-size: 2rem;
            user-select: none;

            text-shadow: 0 0 0.5vw var(--green-ts);
        }

        .links {
            justify-content: space-around;
            a {
                text-decoration: none;
                color: white;
                padding-right: 1vw;
                padding-left: 1vw;
                font-size: 1.5rem;
                transition: 1s ease;

                &:hover {
                    text-shadow: 0 0 0.5vw var(--green-ts);
                }
            }
        }

        .account {
            justify-content: flex-end;
            padding-right: 2vw;
            
            button {
                height: auto;
                width: auto;

                font-size: 1.5rem;
                
                padding: 0.25vw 0.5vw;
                background-color: transparent;
                border: 0.1rem solid white;
                border-radius: calc(0.5vw + 0.5vh);

                transition: 1s ease;
                cursor: pointer;

                overflow: hidden;

                &:hover {
                    background-color: var(--purple-bc);
                    text-shadow: 0 0 0.5vw var(--green-ts);
                }
            }

            .profile {
                height: 50%;
                width: auto;
                aspect-ratio: 1/1;

                transition: 1s ease;

                img {
                    height: 100%;
                    width: auto;
                    aspect-ratio: 1/1;

                    border-radius: 50%;
                    overflow: hidden;

                    cursor: pointer;

                    transition: 1s ease;

                    &:hover {
                        scale: 1.05;
                        filter:drop-shadow(0 0 0.5vw white);
                    }
                }

                .dropdown {
                    position: absolute;
                    z-index: 10;
                    top: 8lvh;
                    right: 7vw;

                    height: auto;
                    width: auto;

                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    background-color: var(--bg-white);
                    border-radius: 1vw;
                    box-shadow: 0 0 1vw white;

                    overflow: hidden;

                    a {
                        height: 3lvh;
                        width: auto;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        padding: 0 1vw;

                        text-decoration: none;
                        color: black;
                        font-size: 1rem;

                        transition: 1s ease;

                        &:hover {
                            text-shadow: 0 0 0.2vw var(--green-ts);
                        }
                    }
                }
            }
        }
    }

    main {
        min-height: fit-content;
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        padding: 0 5vw;

        overflow-x: hidden;

        .facturation {
            min-height: fit-content;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            overflow: hidden;

            .title {
                font-size: 2rem;
                text-align: center;
                user-select: none;

                padding: 2lvh 2vw;

                text-shadow: 0 0 0.5vw var(--green-ts);

                overflow: hidden;
            }

            hr {
                height: 0.1rem;
                width: 100%;

                background-color: white;
                border: none;

                margin: 1vh 0;
            }

            .address {
                height: 20vh;
                min-width: 100%;

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 1vh 1vw;

                overflow-y: hidden;

                .na{
                    width: 20vw;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    background-color: rgb(27, 0, 68);
                    box-shadow: 0 0 1vw white;
                    border-radius: 1vw;

                    padding: 1vh 1vw;
                    margin-right: 2vw;

                    overflow: hidden;

                    &:hover {
                        cursor: pointer;
                        scale: 1.02;
                    }
                }

                .ua {
                    min-width: fit-content;
                    height: 100%;

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    padding: 1vh 1vw;

                    overflow-y: hidden;
                    overflow-x: scroll;

                    .address-container {
                        height: 100%;
                        width: 20vw;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        background-color: rgb(27, 0, 68);
                        box-shadow: 0 0 1vw white;
                        border-radius: 1vw;

                        padding: 1vh 1vw;
                        margin-right: 1vw;
                        margin-left: 1vw;

                        overflow: hidden;

                        .address-info {
                            height: 70%;
                            width: 100%;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            overflow: hidden;

                            h2 {
                                font-size: 1rem;
                                text-align: center;
                                user-select: none;
                            }
                        }

                        .choice {
                            height: 30%;
                            width: 100%;

                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;

                            overflow: hidden;

                            input [type="radio"] {
                                height: 1.5rem;
                                width: 1.5rem;

                                cursor: pointer;
                            }

                            label {
                                font-size: 1rem;
                                user-select: none;
                            }
                        }
                    }
                }
            }
        }

        .panier {
            min-height: fit-content;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            overflow: hidden;

            .title {
                font-size: 2rem;
                text-align: center;
                user-select: none;

                padding: 2lvh 2vw;

                text-shadow: 0 0 0.5vw var(--green-ts);

                overflow: hidden;
            }

            hr {
                height: 0.1rem;
                width: 100%;

                background-color: white;
                border: none;

                margin: 1vh 0;
            }

            .elmt {
                height: 10lvh;
                width: 90%;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                margin: 1vh 1vw;

                background-color: rgb(27, 0, 68);
                box-shadow: 0 0 1vw white;
                border-radius: 1vw;

                overflow: hidden;

                .nom {
                    width: 30%;
                    height: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    font-size: 1.2rem;
                }

                .prix {
                    width: 50%;
                    height: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    font-size: 1.2rem;
                }

                .buy-del {
                    width: 30%;
                    height: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    overflow: hidden;

                    img {
                        height: 80%;
                        width: auto;

                        aspect-ratio: 1/1;

                        &:hover {
                            cursor: pointer;
                            scale: 1.02;
                        }
                    }

                }
            }
        }
    }
}